/exos_java/day2/Exercise Files/Ch06/06_03/begin/RunnableInterfaceExample/build/
/exos_java/day2/Exercise Files/Ch06/06_04/begin/SynchronizationExample/build/
/exos_java/day2/Exercise Files/testexample/target/
